.guard {
  height: 50px;
}

.load-more-btn {
  margin: 0 auto;
  height: 40px;
  width: 90px;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#form {
  margin: 30px auto;
  width: 500px;
}

#form input {
  width: 300px;
  height: 37px;
  border: 1px solid grey;
  border-radius: 4px;
  padding-left: 10px;
  font-size: 14px;
}

#form input::placeholder {
  color: #7d7d7d;
  font-size: 14px;
}

#form button {
  height: 40px;
  width: 90px;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

#form button:focus,
#form button:hover {
  background-color: #6c8cff;
}

#form input:focus {
  border-color: #4e75ff;
}

#form input:hover {
  border-color: black;
}

/* gallery */

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.gallery__item {
  border: 1px solid black;
  width: 270px;
  border-radius: 2px;
}

.gallery__item img {
  width: 270px;
  height: 166px;
}

.info {
  padding-left: 10px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info p {
  font-size: 14px;
  margin: 0;
}

.info-item .main-p {
  margin-bottom: 5px;
}

/* loader */

.loader {
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
  border-radius: 50%;
  display: none;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 0 auto;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #ff3d00;
  width: 6px;
  height: 6px;
  transform: translate(150%, 150%);
  border-radius: 50%;
}

.loader::before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  transform: translate(-150%, -150%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
